<MudPaper Class="pa-4 ma-2" Elevation="0">
    <MudStack>
    <MudItem> 
        <div class="d-flex justify-center">
            <MudImage Src="images/sweden.jpg" Width="200" Height="200" Alt="Neon Moon Logo" Elevation="250" Class="rounded-lg ma-4"/>
        </div>
    </MudItem>
    
    <MudItem>
        <MudStack Row="true" Class="d-flex justify-center">
            <div>
                <MudButton Class="ma-2" Variant="Variant.Outlined" Color="Color.Primary">About Us</MudButton>
                <MudButton Class="ma-2" Variant="Variant.Outlined" Color="Color.Primary">Book Now</MudButton>
                <MudButton Class="ma-2" Variant="Variant.Outlined" Color="Color.Primary">Contact Us</MudButton>
            </div>
        </MudStack>
    </MudItem>
    
    <MudItem>
        <MudStack Row="true" Class="ml-8 d-flex justify-center">  
            <MudIcon Icon="@Icons.Custom.Brands.Facebook" Color="Color.Info"/>
            <MudIcon Icon="@Icons.Custom.Brands.Instagram" Style="@($"color:{Colors.Red.Accent3};")"/>
            <MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Style="@($"color:{Colors.Green.Darken2};")"/>
        </MudStack>
    </MudItem>

    <MudItem>
        <MudText Typo="Typo.caption" Align="Align.Center"></MudText>
        <MudText Align="Align.Center">© 2022 <b>Neon Moon</b> Guest House.</MudText>
    </MudItem>
    
    
    </MudStack>

</MudPaper>