<MudText Class="ma-4 mb-16" Typo="Typo.h3" Align="Align.Center">Reviews</MudText>

<MudPaper Class="d-flex justify-center Align.Center " Elevation="0">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="3" md="3" >
        
        <MudCard Elevation="0" Class="border-solid border-2 mud-border-primary pa-4" >
        <MudCardHeader>
        <CardHeaderContent>
        </CardHeaderContent>
            
        

        </MudCardHeader>
            <MudCardContent>
            <div class="mb-3 mt-n3 ml-n4" fixed="true">
            <MudStack Row="true">
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium" ></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>

            </MudStack>
            </div>
            <MudText Typo="Typo.body1">"We really appreciate you taking the time to share your rating with us. We look forward to seeing you again soon."</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body1">- elon musk</MudText>
        </MudCardActions>
        </MudCard>
        </MudItem>

        <MudItem xs="3" md="3" >
        
        <MudCard Elevation="0" Class="border-solid border-2 mud-border-primary pa-4" >
        <MudCardHeader>
        <CardHeaderContent>
        </CardHeaderContent>
            
        

        </MudCardHeader>
            <MudCardContent>
            <div class="mb-3 mt-n3 ml-n4" fixed="true">
            <MudStack Row="true">
               <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium" ></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>

            </MudStack>
            </div>
            <MudText Typo="Typo.body1">"We really appreciate you taking the time to share your rating with us. We look forward to seeing you again soon."</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body1">- elon musk</MudText>
        </MudCardActions>
        </MudCard>
        </MudItem>

        <MudItem xs="3" md="3" >
        
        <MudCard Elevation="0" Class="border-solid border-2 mud-border-primary pa-4" >
        <MudCardHeader>
        <CardHeaderContent>
        </CardHeaderContent>
            
        

        </MudCardHeader>
            <MudCardContent>
            <div class="mb-3 mt-n3 ml-n4" fixed="true">
            <MudStack Row="true">
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium" ></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"></MudIcon>

            </MudStack>
            </div>
            <MudText Typo="Typo.body1">"We really appreciate you taking the time to share your rating with us. We look forward to seeing you again soon."</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body1">- elon musk</MudText>
        </MudCardActions>
        </MudCard>
        </MudItem>
    </MudGrid>

    
</MudPaper>