<MudPaper Class="pt-10 pb-10" Elevation="3">
<MudStack Row="true">

             <MudPaper Elevation="0" Width="100%"> 

                <MudText Align="Align.Center" Typo="Typo.h5" Class="pt-4 pb-4">FAMILY ROOM</MudText>
                <MudDivider />
                <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-4">SLEEPS 3 GUESTS</MudText>
                <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
                <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-2 pl-10 pr-10">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Class="pt-6">Monday – Thursday</MudText>
                <MudText Align="Align.Center" Typo="Typo.body2" >R1300 per person per night</MudText>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Class="pt-4">Friday – Sunday</MudText>
                <MudText Align="Align.Center" Typo="Typo.body2" Class="pb-4">R1600 per person per night</MudText>

                <div style="text-align:center;">
                <BookingButton></BookingButton>
                </div>

        </MudPaper>
            
            <MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="@arrows" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="#" Width="500" Height="500" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="#" Width="500" Height="500" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="#" Width="500" Height="500" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="#" Width="500" Height="500" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
        </div>
    </MudCarouselItem>
</MudCarousel>

            
</MudStack>
</MudPaper>

@code{ 
    private bool arrows = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}