<MudPaper Class="ma-2" Elevation="0">
    <MudText Typo="Typo.h3" Align="Align.Center">Rooms</MudText>
<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">
            <MudStack>
                <MudText Typo="Typo.h6" Align="Align.Center">Buget Twin Room</MudText>
            <div class="d-flex justify-center">
                <MudCarousel  Style="height:250px; width:300px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Twin Room/Twin .jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Twin Room/Twin 2.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

</MudCarousel>
            </div>
            
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-1">SLEEPS 2 GUESTS</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
            <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-1 pl-6 pr-6">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
            <div style="text-align:center;">
           <BookingButton></BookingButton>
            </div>
            </MudStack>
        </MudPaper>
    </MudItem>
    
    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">
            <MudStack>
                <MudText Typo="Typo.h6" Align="Align.Center">Buget Double Room</MudText>
            <div class="d-flex justify-center">
                <MudCarousel  Style="height:250px; width:300px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Double room/Double .jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Double room/Double 2.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Double room/Double 3.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Double room/Double 4.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>
</MudCarousel>
            </div>
            
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-1">SLEEPS 2 GUESTS</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
            <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-1 pl-6 pr-6">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
            <div style="text-align:center;">
            <BookingButton></BookingButton>
            </div>
            </MudStack>
        </MudPaper>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">
            <MudStack>
                <MudText Typo="Typo.h6" Align="Align.Center">Deluxe Double Room</MudText>
            <div class="d-flex justify-center">
                <MudCarousel  Style="height:250px; width:300px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Deluxe Double Room/Deluxe 1.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Deluxe Double Room/Deluxe 3.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Deluxe Double Room/Deluxe 4.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>
</MudCarousel>
            </div>
            
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-1">SLEEPS 2 GUESTS</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
            <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-1 pl-6 pr-6">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
            <div style="text-align:center;">
            <BookingButton></BookingButton>
            </div>
            </MudStack>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">
            <MudStack>
                <MudText Typo="Typo.h6" Align="Align.Center">Family Room</MudText>
            <div class="d-flex justify-center">
                <MudCarousel  Style="height:250px; width:300px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Family Room/Family 2.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Family Room/Family.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Family Room/Family 3.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>
</MudCarousel>
            </div>
            
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-1">SLEEPS 3 GUESTS</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
            <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-1 pl-6 pr-6">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
            <div style="text-align:center;">
            <BookingButton></BookingButton>
            </div>
            </MudStack>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">
            <MudStack>
                <MudText Typo="Typo.h6" Align="Align.Center">Buget Double Room</MudText>
<div class="d-flex justify-center">
<MudCarousel  Style="height:250px; width:300px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Room 2/Buget.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Room 2/Buget 2.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" >
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="/img/Neon moon Pics/Buget Room 2/Buget 3.jpg" Width="300" Height="250" Elevation="25" Class="rounded-lg"/>
        </div>
    </MudCarouselItem>
</MudCarousel>
</div>
            
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-1">SLEEPS 3 GUESTS</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
            <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-1 pl-6 pr-6">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
            <div style="text-align:center;">
            <BookingButton></BookingButton>
            </div>
            </MudStack>
        </MudPaper>
    </MudItem>
    
</MudGrid>
</MudPaper>

@code{ 
    private bool arrows = false;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}